@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/*# Normalize */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #f9f9f9;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


/*# Hero */

.container {
  max-width: 1200px;
  margin: 25px auto;
  padding: 0 16px 0 16px;
}

.hero-title {
  margin: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-campaign-tabs {
  display: flex;
}

.hero-campaign-tabs > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  text-align: center;
}

.tabcontent {
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 80px;
  background-color: white;
  width: 474px;
  font-family: 'Lato', sans-serif;
  opacity: 0.8;
}

.overlay__left {
  left: 40px;
  border-left: 3px solid steelblue;
}

.overlay__right {
  right: 60px;
  border-right: 3px solid steelblue;
}

.hero-overlay h3 {
  font-weight: 700;
}

.hero-description {
  height: 100%;
  padding: 30px 35px;
}

.hero-description p {
  line-height: 28px;
  margin-bottom: 20px;
}

.hero-link {
  padding: 13px 0;
}

.hero-campaign-link {
  color: white;
  background-color: steelblue;
  padding: 13px;
  border-radius: 6px;
}

.hero-campaign-link:hover {
  color: #fff;
  filter: brightness(85%);
}

.active-campaign-span {
  color: red;
}


/*# Sections */

.section-header {
  text-align: center;
  color: white;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.text__header {
  background-color: black;
  color: white;
  text-transform: capitalize;
}

.section-header span {
  padding: 6.4px 16px;
}

.section-header h2 {
  text-transform: capitalize;
  padding: 8px;
}

.col-sm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.col-sm img {
  width: 65%;
}

.col-sm h3 {
  padding: 8px;
  margin: 10px 0;
}


/*# About */

.about p {
  margin: 16px;
  text-align: center;
}


/*# Fonts */

h1, h2, h3, p {
  color: rgb(74, 74, 74);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
  margin: 12px 0;
}


p {
  font-size: 16px;
  margin: 16px 0px;
}

em {
  font-style: italic;
}


/*# Anchors */

a {
  text-decoration: none;
  color: #5e6a71;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.hero-campaign-tabs span:hover {
  color: red;
  transition: 0.3s
}

@media (max-width: 830px) {
  .hero-campaign-tabs {
    display: flex;
    flex-direction: column;
  }

  .hero-campaign-tabs > div {
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 3px;
  }

  .hero-image {
    background-position: 50%;
  }
  
}

@media (max-width: 600px) {

  .hero-title {
    height: 100%;
    padding: 6px;
    margin-bottom: 20px;
  }

  .hero-overlay {
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    background-color: rgb(249, 249, 249, 0.8);
    border: none;
    height: initial;
    width: 100%;
  }

  .hero-description p {
    display: none;
  }

  .hero-description h2 {
    margin-bottom: 14px;
  }

  .hero-image__sm {
    background-position: 57% 90%;
  }

  .hero-image__tomb {
    background-position: 71%;
  }

  .hero-image__conflux {
    background-position: 25% 50%;
  }
  
}